@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  line-height: 1.5;
  font-family: "orator-std";
}

.grey {
  background-color: #bcbcbc;
}

.ts {
  text-shadow: 1px 1px 1px #000;
}

.halfimg {
  width: 50%;
}
.text-center {
  text-align: center;;
}

.text-right {
  text-align: right;
}

.lightgrey {
  background-color: #f9f9f9;
}

.padding-left {
  padding-left: 1.5em;
}

.wrapper {
  max-width: 31em;
  margin: 0 auto;

}

.imgwrap {
  max-width: 15em;
  margin: 0 auto;
}

.tw {
  color: white;
}

nav a {
  text-decoration: none;
  color: #000;
}

.nodec {
  text-decoration: none;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

header li:hover {
  background-color: lightgrey;
}

header a:hover {
  color: white;
}

.imgbe {
  width: 48px;
}

li {
  list-style-type: none;
}

.nostyle {
  list-style-type: none;
  display: inline;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #235b5a, #234547);
  background-image: -moz-linear-gradient(top, #235b5a, #234547);
  background-image: -ms-linear-gradient(top, #235b5a, #234547);
  background-image: -o-linear-gradient(top, #235b5a, #234547);
  background-image: linear-gradient(to bottom, #235b5a, #234547);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #2e7978, #235b5a);
  background-image: -moz-linear-gradient(top, #2e7978, #235b5a);
  background-image: -ms-linear-gradient(top, #2e7978, #235b5a);
  background-image: -o-linear-gradient(top, #2e7978, #235b5a);
  background-image: linear-gradient(to bottom, #2e7978, #235b5a);
  text-decoration: none;

}

.open-sans {
  font-family: "Open Sans:", sans-serif;
}

@media only screen and (min-width: 15em) {
  img {
    width:100%;
  }
}

@media only screen and (min-width: 25em) {
  img {
    width:100%;
  }
}


@media only screen and (min-width: 38em) {
  img {
    width:42%;
  }
}


@media only screen and (min-width: 60em) {
  img {
    width:30%;
  }
}

@media only screen and (min-width: 72em) {
  img {
    width:25%;
  }
}
